
@tailwind base;
@tailwind components;
@tailwind utilities;


.flex-container {

  background-color: #f1f1f1;
  height: 100vh;
  background-color: red;
  padding-top: 100px;
  position: relative;
}

.flex-container .row {
  background-color: DodgerBlue;
 height: 600px;
 position: relative;
 width: 100%;
 overflow: hidden;
}


.flex-container .col {
  background-color: green;
 height: 70%;
 position: absolute;
 top: calc(50% - 210px);
 width: 100%;
}


@media screen and (min-width: 768px) {
  .nav-list {
    transform: translate(0%) !important;
  }
}